/* RESET */
	h1, h2, h3, h4, h5, span, p{
		padding: 0;
		margin: 0;
		cursor: context-menu;
	}

	body{
		width: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		box-sizing: border-box;
		font-family: 'Raleway', sans-serif;
		
	}
	button {
		cursor: pointer;
	}
	header .heading {
		right: 10vh;
		margin-left: 16px;
		position: absolute;
		top: 1vw;
		font-family: "Courier New", Courier, monospace;
		font-size: 18px;
		padding-left: 16px;
		color: #fff;
	}

	.landing-image, .projects-image {
		background: url(../img/coffee.jpg);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	    width: 100vw;
	    height: 100vh;
	    position: absolute;
	    z-index: -1;
	    background-attachment: fixed;
	}


	/* NAVIGATION */
	.nav {
		display: flex;
		justify-content: center;
		height: 100vh;
		align-items: center;
	}
	.nav ul{
		padding: 0;
	}
	.nav ul li {
		list-style: none;
		display: inline-block;
		padding: 24px;
		font-size: 2rem;
		font-family: 'Raleway', sans-serif;
	}
	.nav ul li a{
		text-decoration: none;
		color: rgb(204, 201, 201);
		cursor: pointer;
	}

	.btn {
		border:1px solid rgb(100, 100, 100);
		border-radius: 18px;
		padding: 2px 14px;
		z-index: 1;
		transition: 400ms ease-in-out;
		opacity: .6;
	}
	.btn:hover {
		opacity: 1;
		border:1px solid rgb(107, 151, 153);
		transition: 400ms ease-out;
		box-shadow: .1px .1px 2px;
	}
/* NAVIGATION END */

	
	/* The Close Button */
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}
	.close:hover {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}


	/* PROJECTS */
	.projects-section {
		height: 100vh;
		text-align: center;
	}
	.projects-section h2{
		margin: 0;
		margin-bottom: 22px;
		font-size: 2.5rem;
		color: rgb(200, 200, 200);
	}
	/* GRID CONTAINER */
	.projects-container {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
		grid-template-rows: auto;
		justify-content: center;
		grid-gap: 20px;
		margin: auto 20%;
	}
	.projects-container > div > h3 {
		font-size: 16px;
		color: rgb(172, 172, 172);
		border-radius: 18px 18px 0 0;
		transition: ease-in-out 700ms;
	}
	.projects > div {
		border:#222 solid 1px;
		border-radius: 16px;
	}
	.projects > div:hover h3{
		color: rgb(53, 52, 52);
		background: #5f8c9e;
		transition: ease-in-out 700ms;
	}
	.box:hover {
		background-color: #f9f9f9;
		opacity: 1;
	}
	.box {
		opacity: .6;
		height: 25vh;
		border-radius: 0px 0px 16px 16px;
		transition: .8s;
	}
	.project-box-1 {
		background-image: url('../img/cars.png');
		background-size: 100%;
	}
	.project-box-2 {
		background-image: url('../img/practice_2.png');
		background-size: 100%;
	}
	.project-box-3 {
		background-image: url('../img/biling.png');
		background-size: 100%;
	}
	.project-box-4 {
		background-image: url('../img/imgpreviewer.png');
		background-size: 100%;
	}
	.project-box-5 {
		background-image: url('../img/1_gotovo_velika.png');
		background-size: 100%;
	}

/* PROJECTS END*/



	/* SKILLS */
	.skills-section {
		background: rgb(29, 36, 43);
		width: 100%;
		border-top: solid 7px rgb(0, 0, 0);
		border-bottom: solid 1px #111111;
		
	}

	.skills-section h1, .contact h1 {
		font-family: "Arial", Courier, monospace;
		padding-top: 40px;
		text-align: center;
		font-size: 2.5rem;
		color: rgb(190, 190, 190);
	}
	.skills-container {
		padding-top: 40px; 
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
	}
	.skills-container > div {
		width: 120px;
		height: 120px;
		margin-bottom: 6.5em;
	}

	.skills-container > div > span {
		display: block;
		font-size: 16px;
		text-align: center;
		color: rgb(197, 196, 196);
		transition: ease-in-out 590ms;
	}

	.skills-container > div > img {
		filter: grayscale(70%);
		transition: ease-in-out 300ms;
		width: 100%;
		height: 100%;
	}
	.skills-container > div > img:hover {
		filter: grayscale(0);
		transition: ease-in-out 590ms;
		cursor: pointer;
	}

	.skills-container > div:hover span{
		color: rgb(255, 246, 246);
		transition: ease-in-out 590ms;
	}


	/* OTHER SKILLS */

	.other-skills {
		background: rgb(18, 26, 32);
	}
	.other-skills h3 {
		text-align: center;
		color: rgb(190, 190, 190); 
		font-family: "Arial", Courier, monospace;
		padding-top: 40px;


	}
	.skills-container-other {
		display: flex;
		justify-content: center;
		padding: 2em;
	}
	.skills-container-other > img {
		width: 5em;
		height: 5em;
		margin: 0 .5em;	
	}

/* ToolTip */
.tooltiptext {
  visibility: hidden;
  color: #fff;
	border-radius: 6px;
	margin-right: -100%;
	/* float: right; */
	padding: 5px 5em;
	transition: ease-in-out 200ms;
}

.skills-section:hover .tooltiptext {
	visibility: visible;
	margin-right: 0;
}

/* TOOLTIP END */


/* SKILLS END */

	/* SKill div from left*/
	.skills-section .css-left-section {
		background: rgb(31, 30, 30);
		height: 800px;
		width: 20%;
		position: absolute;
		transition: ease-in-out 700ms;
		opacity: 0;
		margin-left: -50%;
		z-index: 2;
	}


	.skills-section .css-right-section {
		background: rgb(78, 25, 25);
		color: rgb(214, 214, 214);
		height: 800px;
		width: 80%;
		position: absolute;
		margin-left: 100%;
		transition: ease-in-out 700ms;
		opacity: 0;
		z-index: 2;
	}
	.css-right-section ul {
		float: left;

	}
	#skill-heading {
		padding: 4em 0 0 2em;
	}
	.css-right-section span {
		padding: .5em 2em 0 0;
		float: right;
	}
	.css-right-section hr {
		margin-top: 10em;
		margin-left: 2em;
	}
	#textBodyRight {
		padding: 1em 18em 0em 8em;
		margin: 0;
	}
	#textBodyRightNextCol {
		padding-top: 1em;
		margin: 0;
	}

	#textBodyRight span {
		float: right;
	}
	.clearfix::after {
		content: "";
		clear: both;
		display: table;
	}

	#textBodyLeft > img {
		width: 200px;
		display: block;
		padding-top: 5em;
		margin: 0 auto;
	}


	.htmlText {
		margin: 1em;
		font-size: 1.2em;
		color: rgb(216, 74, 49);
	}

	.cssText {
		margin: 1em;
		font-size: 1.2em;
		color: rgb(89, 197, 200);
	}

	.jsText {
		margin: 1em;
		font-size: 1.2em;
		color: #f0db4f;
	}

	.sasstext {
		margin: 1em;
		font-size: 1.2em;
		color: #c69;
	}

	.angularText {
		margin: 1em;
		font-size: 1.2em;
		color: #b52e31;
	}
	.illustratortext {
		margin: 1em;
		font-size: 1.2em;
		color: #d16b31;
	}

/* About */
.about {
	padding: 5em;
	background: #111111;
	color: #bbb;
}
.about p {
	margin: 15px 0;
}
.about button {
	width: 220px;
	height: 30px;
}
.content {
	opacity: 0;
	transform: translateX(-50px);
	transition: all ease-in-out 600ms;
}




/* footer */
.footer {
	padding: 2em;
	background: #111111;
	color: #bbb;
	text-align: right;
}
.footer p {
	margin: 15px 0;
}

.fa-caret-up {
	font-size: 4em;
}
#goTopButton {
	cursor: pointer;
}
.footer-content {
	opacity: 0;
	transform: translateX(50px);
	transition: all ease-in-out 600ms;
}

.show {
	opacity: 1;
	transform: translateY(0);
}


	/* Contact */

	.contact form {
		width: 50%;
		padding: 30px;
		background: rgb(18, 26, 32);
		margin: 10em auto;
		border: 1px solid rgb(47, 47, 47);
	}

	.contact input {
		width: 100%;
		margin: 10px 0;
		padding: 10px 0;
		box-sizing: border-box;
		background: rgb(162, 185, 207);
		border: none;
		text-indent: 1em;
	}
	.contact textarea {
		width: 100%;
		padding-bottom: 4em;
		padding-top: .5em;
		box-sizing: border-box;
		background: rgb(162, 185, 207);
		border: none;
		text-indent: .5em;
	}
	.contact button {
		margin-top: 2em;
		width: 120px;
		height: 30px;
	}

	.formParralax {
		background: url(../img/bg.jpg); 
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
	    position: absolute;
	    z-index: -1;
	    background-attachment: fixed;
	}

	



@media(max-width: 960px){
	header .heading {
		text-align: right;
		font-size: 12px;
		right: 10px;
		position: absolute;
	}
	.landing-image{
		background-position: center;
	    background-attachment: scroll;
	}
	.nav ul{
		display: inline;
		margin: 0;
		padding: 0;
	}
	.nav ul li{
		text-align: center;
		font-size: 22px;
		display: block;
	}
	.projects-section {
		background: url(../img/project.jpg);
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		background-attachment: scroll;
		overflow: hidden;
		display: block;
		padding-bottom: 100em;
	}
	.projects-container {
		display: grid;
		grid-template-columns: 2fr;
		grid-template-rows: auto;
		justify-content: center;
		grid-gap: 50px;
		margin: 0 auto;
		width: 65%;
		color: black;
	}
	.projects-container, .projects-container h2{
		position: relative;
	}
	.box {
		height: 35vh;
	}
	.footer-container, .skills-section{
		height: auto;
	}
	.box {
		background-color: #000;
		opacity: .3;
	}
	.about-section {
		padding: 10px;
	}
	.skills-container {
		padding-top: 40px; 
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		justify-content: center;
		width: 80%;
		margin: 0 auto;
	}
	.skills-container > div {
		margin-bottom: 3em;
	}
	.skills-container > div > img {
		width: 100%;
		height: 100%;
	}
	.css-right-section, .css-left-section {
		display: none;
	}

	.skills-container-other > img{
		width: 8vw;
		height: 8vw;
	}
	.tooltiptext {
		display: none;
	}
	.about, .footer {
		padding: 20px;
		text-align: center;
	}
	.contact form {
		padding: 20px;
		width: 70%;
		margin-top: 2em;
	}
}

@media(max-width: 460px){
	.skills-container {
		display: grid;
		grid-template-columns: 1fr;
	}	
	.skills-container-other {
		/* flex-direction: column; */
	}
	.css-left-section, .css-right-section {
			display: none;
			padding: 0;
	}

}

